
{% extends "base.html" %}
{% load static %}
{% block head %}
    <title>Galereya</title>
    <link rel="stylesheet" href="{% static "css/style.css" %}">
{% endblock %}
{% block content %}
<div style="display: flex; justify-content: start; flex-wrap: wrap; gap: 20px; padding: 20px 40px;">
    {% for rasm in rasmlar %}

            <div class="box" style="width: 23%;">
                <img  style="width: 100%; aspect-ratio: 1/1; object-fit: contain;" src="{{rasm.image.url}}" alt="{{rasm.title}}" title="{{rasm.title}}">
            </div>

    {% endfor %}
</div>
{% endblock %}
